# Python virtual environment
env/
venv/
ENV/
new_env/
debug_env/
# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# macOS
.DS_Store

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 