{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}Edit RecItem{% else %}Create RecItem{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">
                        {% if form.instance.pk %}
                            Edit RecItem: {{ form.instance.title }}
                        {% else %}
                            Create New RecItem
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.scope_item|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.category|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-8">
                                {{ form.title|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.priority|as_crispy_field }}
                            </div>
                        </div>
                        
                        {{ form.description|as_crispy_field }}
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.status|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.keywords|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                {% if form.instance.pk %}
                                    <i class="fas fa-save"></i> Update RecItem
                                {% else %}
                                    <i class="fas fa-plus"></i> Create RecItem
                                {% endif %}
                            </button>
                            <a href="{% if form.instance.pk %}{% url 'projects:recitem-detail' form.instance.pk %}{% else %}{% url 'projects:scope-detail' form.initial.scope_item %}{% endif %}" class="btn btn-secondary">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 